alembic==1.12.0
Flask==2.2.5
Flask_Login==0.6.2
Flask_Migrate==4.0.5
Flask_WTF==1.1.1
Flask-Babel==2.0.0
Flask-Cors==3.0.8
Flask-SQLAlchemy==3.0.5
gunicorn==21.2.0
SQLAlchemy==2.0.20
WTForms==3.0.1
Jinja2==3.1.2
psycopg2-binary==2.9.9
email-validator==2.0.0.post2
SQLAlchemy==2.0.20
sqlparse==0.4.4
tensorflow==2.12.0
Werkzeug==2.2.3
