*{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    margin: 0;
}
a{
    font-family: 'Roboto Mono';
    font-weight: bolder;
}
a:active, a:visited, a:link{
    text-decoration: none;
    color: #3e2e5a;
}

a:hover{
    color: white;
}

#container{ 
    width: 100%;
    height: 100vh; 
    /* background: linear-gradient(270deg, rgb(64, 56, 219) 0%, rgba(87,88,161,1) 35%, rgb(187, 65, 211) 100%); */
    /* background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(87,88,161,1) 35%, rgba(44,34,46,1) 100%); */
    animation: animateBg 14s linear infinite;
    /* background-image: linear-gradient(100deg,#101b47,#434379,#0d0853,#0f1424,#101b47,#0e0e11);  */
    background-image: linear-gradient(130deg,#212022,#38303b,#0f0f0f,#594e5c,#42445c,#212022,#38303b);
    background-size: 500% 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#select{
    margin-bottom: 20px;
}
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }
  

#content {
    border: 2px solid silver;
    border-radius: 30px;
    width: 50%;
    height: 90vh;
    min-width: 800px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 17px 20px rgba(116, 43, 158, 0.27);
}


#nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);;
    width: 90%;
    margin:  0px auto;
}

#nav p{
    padding: 7px 0px;
}

#nav p:nth-child(2){
    font-size: 15px ;
    font-family: 'Roboto Mono';
    color: rgba(255, 255, 255, 0.4);
    
}

#nav a{
    font-size: 25px;
    margin-top: -5px;
    color:rgba(255, 255, 255, 0.4)
}

#nav a:hover{
    color: white;
}

#details{
    padding: 0px 20px;
    width: 500px;
    height: 400px;
    
    margin: auto;
}
.input{
    height: 30px;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: 'Roboto Mono';
    padding: 5px 7px;
}

.input:focus{
    outline: none;
}

form div p{
    padding: 3px 0px;
}

#submit{
    display: flex;
    width: 100%;
    justify-content: center;
}

form div p:first-child{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto Mono';
}

.submit{
    width: 200px;
    padding: 7px 0px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
}

.submit:hover{
    padding: 7px 0px;
    border: 0.5px solid silver;
}

.error{
    color: red;
    font-size: 10px;
    font-family: 'Roboto Mono';
    padding: 3px;
}

.title{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto Mono';
}

select{
    background-color: transparent;
    border: none;
    padding: 0px 10px 0px 5px;
    margin-left: -10px;
}

option{
    background-color: #0f0f0f;
}

@media only screen and (max-width: 767px){
    body{
        height: auto!important;
        
    }
    #container{
        min-width: 300px;
        width: 100%;
        min-height:630px;
    }
    #content{
        min-width: 300px;
        height: 600px;
        margin: auto;
        width: 90%;
    }

   #details{
    width: 95%;
   }

   #nav{
    padding: 20px 30px 0px 30px;
   }

   #select{
        margin-bottom: 30px;
   }
    .input{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
            height: auto!important;
           
    }
}